* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.simple {
  text-align:center;
  width: 500px;
  /*margin: 20px auto;*/
  border-style:solid;

}

.fancy {
  text-align:center;
  width: 500px;
  /*margin: 20px auto;*/
  padding: 50px;
  border-width: 10px;
  border-style:solid;
}

img{
	float:right;
}